<ion-content>
  <div class="page">
    <h2>
      <span></span>
      Circle
      <span></span>
    </h2>
  </div>
  <p>Objectif: {{target}}</p>
  <p>Restant: {{restant()}}</p>
  @for(elm of steps; track $index)
  {
  <ion-button [fill]="elm.coche ? 'solid' : 'outline'" (click)="tick(elm)">{{step}}</ion-button>
  }
  @if(remainder > 0)
  {
    <ion-button color="tertiary" [fill]="remainderTick ? 'solid' : 'outline'" (click)="remainderTick = !remainderTick">{{ remainder }}</ion-button>
  }
</ion-content>
