<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/house.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booklet">
      <ion-icon src="assets/icon/book.svg"></ion-icon>
      <ion-label>Booklet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasbih">
      <ion-icon src="assets/icon/tasbih2.svg"></ion-icon>
      <ion-label>Tasbih</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="circle">
      <ion-icon src="assets/icon/usersRound.svg"></ion-icon>
      <ion-label>Circle</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
