h2 {
  font-family: 'Amiri', serif;
  display: flex;
  align-items: center;
  gap: 12px;
}

h2 span {
  flex: 1;
  border-top: 1px solid var(--ion-color-primary);
}
.bouton-plus {
  touch-action: manipulation;
  user-select: none;
  margin-top: auto;
  height: 120px;
  width: 120px;
  --border-radius:45%;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.compteur {
  font-size: 72px;
  color: var(--ion-color-primary)
}
.bouton-reset {
  --background: rgba(140, 140, 140, 0.7)
}
